<html>
<head>
<style>
td {
  width: 1em;
  height: 1em;
  text-align: center;
}
<% palette.each_with_index do |color, i| %>
.color<%= i %> {
  background-color: rgb(<%= "#{color[0]}, #{color[1]}, #{color[2]}" %>);
  color: <%= color[0] + color[1] + color[2] > 250 ? '#000' : '#fff' %>;
}
<% end %>
</style>
<body>
<table>
<% pixels.each do |row| %>
<tr>
<% row.each do |cell| %>
<% index = palette.index(cell) %>
<td class="color<%= index %>"><%= index %></td>
<% end %>
</tr>
<% end %>
</table>
</body>
</html>
